# ========================
# DATASETS & OUTPUTS
# ========================
dataset/raw/*
dataset/processed/*
*.parquet
results/*

# Exeptions
!dataset/raw/flight_data_2024_sample.csv
!dataset/raw/flight_data_2024_data_dictionary.csv

# ========================
# PYTHON & ENV
# ========================
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# ========================
# JAVA & MAVEN (Job 1)
# ========================
src/job1_mapreduce/target/*
src/job1_mapreduce/dependency-reduced-pom.xml
*.jar
!src/job1_mapreduce/target/job1-1.0-SNAPSHOT.jar
*.class

# ========================
# HIVE & DERBY (Job 2)
# ========================
metastore_db/
derby.log

# ========================
# IDE & OS SETTINGS
# ========================
*.DS_Store

# ========================
# AWS Lab
# ========================
cluster/performance/*
!cluster/job1_mapreduce/job1-1.0-SNAPSHOT.jar